// Specific CSS for your home-page
.banner {
  position: relative;
  padding: 200px 0;
  height: 810px;

.banner-img{
  position: absolute;      // position the image as background
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;       // fill the area
  filter: brightness(0.6) grayscale(1); // darken image if needed
  z-index: 0;
}

 h1 {
  position: relative;
  z-index: 1;
  color: #ffc000;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 75px;
  font-weight: 500;
  margin-left: 4%;
}

p {
  position: relative;
  z-index: 1;
  color: #f8d15c;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 25px;
  font-weight: 500;
  margin-left: 4%;
}
}
