.card-container{

  background-color:#0d2d83;

  a {
  text-decoration: none;
  }

  h2 {
  margin-left: 4%;
  margin-bottom:35px;
  color:#ffac0b;
  font-size: 40px;
  font-weight: 500;
}

// .row {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-gap: 20px;
//     width: 100%;
//     margin-left: auto;
//     margin-right: auto;
//     background-color: #0d2d83;
//     border-radius: 20px;
// }

  .card-category {
    background-color: #fff1d6;
    color: #252ab6;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 55px;
    font-size: 30px;
    transition: transform 1.3s ease;

  h2 {
    color: #0d2d83;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    }

    p {
    color: #203a80;
    font-size: 20px;
    font-weight: 300;
    margin-left: 4%;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
      background-color: #001348;

      h2, p {
        color:#ffac0b
      }

    }
  }
}
