.card-container{

  background-color: $white;

  a {
  text-decoration: none;
  }

  h2 {
  margin-left: 4%;
  margin-bottom:1%;
  color:$black;
  font-size: 40px;
  font-weight: 500;
}

// .row {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-gap: 20px;
//     width: 100%;
//     margin-left: auto;
//     margin-right: auto;
//     background-color: #0d2d83;
//     border-radius: 20px;
// }

  .card-category {
    background-color: $white;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 55px;
    font-size: 30px;
    transition: transform 1.3s ease;
    filter: drop-shadow(1px 1px 1px rgb(182, 182, 182));

    .role-text {
    padding-top: 5%;
    }

    img {
      max-width: 100%;
      padding-left: 5%;
    }

    h2 {
    color: $black;
    font-size: 30px;
    font-weight: 400;
    }

    h3 {
      margin-left: 4%;
    }

    p {
    color: $black;
    font-size: 20px;
    font-weight: 300;
    margin-left: 4%;
    }

    i {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10%;
    font-size: 40px;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 15px #242424;
      background-color: #242424;

      h2, h3, p {
        color: $white;
      }

    }
  }
}
