.introduction-section {
  background-color: #0d2d83;
  color: #ffc65a;
  position: relative;
  overflow: hidden;

  .text-box {
    width: 100%;
    padding: 20px;
    color: #ffac0b;
    transition: transform 1.3s ease;;
      &:hover {
      transform: scale(1.2);
      }

    h2 {
      font-size: 38px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      font-weight: 200;
      margin: 0 auto 5px;
      max-width: 90%;
      text-align: start;
    }
  }

  .image-icon {
    height: 100%;
    width: 400px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  // Responsive adjustments
  @media (max-width: 768px) {
    text-align: center;
    padding: 40px 10px;

    .text-box {
      width: 100%;
      transition: transform 1.3s ease;
      h2 {
        font-size: 35px;
        margin-top: -50px;
        font-weight: 400;
      }
      p {
        font-size: 20px;
        text-align: center;
      }
    }

    .image-icon {
      height: 100%;
      width: 250px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
    }
  }
}
