.technologies{
  background-color: $white;

  h2{
    margin-left: 4%;
    color: $black;
    font-size: 40px;
    font-weight: 500;
    }

  .technologies-container{
    background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 55px;
    padding: 10%;
    font-size: 40px;
  }
}
