.technologies{
  background-color: #0d2d83;

  h2{
    margin-left: 4%;
    color:#ffac0b;
    font-size: 40px;
    font-weight: 500;
    }

  .technologies-container{
    background-color: #fff1d6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 55px;
    padding: 10%;
    font-size: 40px;
  }
}
